# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# Documentation
doc

# Data
data/*
!data/2MRS_group_member_catalog.dat
!data/CF3_group_catalog.dat
!data/CF3_group_member_catalog.dat
!data/CosmicEmu_spectrum_Planck18.dat
!data/parameters_zCMB_CR1-50.dat
!data/parameters_zLG_CR1-50.dat
!data/calibrated_parameters_CR1-50.dat

# Hidden files
.*
!.gitignore